__pycache__/
*.py[cod]
.venv/
db.sqlite3
.env
*.log
.DS_Store
staticfiles/
media/
venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.zip
